.button,
.action {
    background-color: #3882F6;

}

.right-links,
.brag-subtext {
    font-size: 18px;
    color: #E5E7EB;

}

.main-title,
.info-header {
    font-weight: 800;

}

a {
    text-decoration: none;
    color: #E5E7EB

}

img {
    max-width: 100%;
    max-height: 100%;

}

.full-page {
    display:flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 15px;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.brag  {
    display: flex;
    background-color: #1F2937;
    padding: 25px;
    justify-content: space-around;
    gap: 85px;
}

.left-brag {
    display:flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 1 0;

}

.brag-image {
    display: flex;
    flex: 1 2 0;


}

.button {
padding: 5px;
width: fit-content;
border-radius: 5px;

}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-header {
    font-size: 36px;
    color: #1F2937;
    padding: 10px;

}

img.rounded-corners {
    border-radius: 11px;
}

.info-image {
    display: inline-flex;
    border: solid blue;
    border-radius: 15px;
    justify-content: center;
    
}

.info-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    gap: 20px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: flex-end;
    padding: 50px;
    gap: 10px;
    margin: 10px;

}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}

.attribution {
    font-weight: 800;

}

.action {
    display: flex;
    color: antiquewhite;
    justify-content: space-around;
    gap: 5px;
    padding: 25px;
    margin: 35px;

}

.action-text {
    display: flex;
    flex-direction: column;
    

}

.action-header {
    font-size: 25px;
    font-weight: 400;

}

.second-button {
    display: flex;
    border-color: beige;
    border: 2px solid;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 8px;

}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #E5E7EB;

}